{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="inlog system">
    <title>Django Project</title>
    <link rel="stylesheet" href="{% static 'style/inlogsystem.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" href="{% static 'python.ico' %}">
</head>
<body>
    {% include "navbar_template.html" with page="home"}  %}

    <ul>
        <li><a href="/home">Connected-Vehicles</a></li>
        <li style="float:right"><a class="active" href="/login">Login</a></li>
        <li style="float:right"><a href="/register">Register</a></li>
    </ul>

    <div class="login-box">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
        </form>
    </div>

</body>
</html>
