<body>

    <div class="login-box">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
{#            {% for field in form %}#}
{#                <p>#}
{#                    {{ field.label_tag }}<br>#}
{#                    {{ field }}#}
{#                    {% for error in field.errors %}#}
{#                        <p style="color: red">{{ error }}</p>#}
{#                    {% endfor %}#}
{#                </p>#}
{#            {% endfor %}#}
            <p style="color: red">ERROR: {{ error }}</p>
            <button>Sign up</button>
        </form>
    </div>

</body>