<body>

    <ul>
        <li><a href="/home">Connected-Vehicles</a></li>
        <li style="float:right"><a href="/login">Login</a></li>
        <li style="float:right"><a class="active" href="/register">Register</a></li>
    </ul>

    <div class="login-box">
        <h1>Sign up</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="display: None">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
            <button>Sign up</button>
        </form>
    </div>

</body>
