
/* Computer */
@media only screen and (min-width: 400px) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0px 0px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
    }

    .grid-box {
        background-color: white;
        margin: 1%;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        width: 80%;
    }

    .grid-box h1, h3 {
        color: #282D3C;
        margin: 0px;
    }

}

/* Phone */
@media only screen and (max-width: 400px) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0px 0px;
        width: 100%;
    }

    .grid-box {
        background-color: white;
        margin: 10%;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        width: 60%;
    }

    .grid-box h1, h3 {
        color: #282D3C;
        margin: 0px;
    }

}