@media only screen and (min-width: 400px) {

    body {
        font-family: sans-serif;
        background: #282D3C;
        color: white;
    }

    body h1{
        text-align: center;
        color: white;
    }

    th{
        color: white;
    }

    .login-box{
        width: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -50%);
        color: black;
        /*background-color: rgba(228, 228, 228, 0.4);*/
        background-color: rgba(255, 255, 255, 0);
        padding: 25px;
        box-shadow: -1px 1px 10px  6px rgba(255, 255, 255, 0.56);
    }

    .login-box h1{
        font-size: 40px;
        border-bottom: 6px solid ghostwhite;
        padding:10px 0px;
        color: white;
    }

    .textbox{
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 2px solid ghostwhite;
    }

    .textbox input{
        border: none;
        outline: none;
        background: none;
        color: black;
        font-size: 18px;
        width: 100px;
        margin: 0 10px;
}

    input {
        border: 2px solid black;
        border-radius: 0px;
        padding: 4px;
    }

    .topnav {
        overflow: hidden;
        background-color: #282D3C;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        background: #282D3C;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: #282D3C;
        color: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    label{
        color: white;
    }

    .errormsg{
        color: red;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

}








table, td, th {
  border: 1px solid #ffffff;
  text-align: left;
    color: white;
}

th, td {
    padding: 15px;
    color: white;
}

/* Dropdown menu filter*/
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}








@media only screen and (max-width: 400px) {

    body {
        font-family: sans-serif;
        background: #282D3C;
        color: white;
    }

    body h1{
        text-align: center;
        color: white;
    }

    .login-box{
        width: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -50%);
        color: black;
        /*background-color: rgba(228, 228, 228, 0.4);*/
        background-color: rgba(255, 255, 255, 0);
        padding: 25px;
        box-shadow: -1px 1px 10px  6px rgba(255, 255, 255, 0.56);
    }

    .login-box h1{
        font-size: 40px;
        border-bottom: 6px solid ghostwhite;
        padding:10px 0px;
        color: white;
    }

    .textbox{
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 2px solid ghostwhite;
    }


    .textbox input{
        border: none;
        outline: none;
        background: none;
        color: black;
        font-size: 18px;
        width: 100px;
        margin: 0 10px;
    }

    input {
        border: 2px solid #000000;
        border-radius: 0px;
        padding: 4px;
    }

    a {
        text-decoration: none;
        color: #1E1E23;
        opacity:1;
        font-family: 'work sans', sans serif;
        font-size: 1.5em;
        font-weight: 400;
        transition: 200ms;
    }

    a:hover {
        opacity:0.5;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .topnav {
        overflow: hidden;
        background-color: #282D3C;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        background: #282D3C;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: #282D3C;
        color: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

        label {
        color: white;
    }

    .errormsg {
        color: red;
    }

    table {
        border-collapse: collapse;
        width: 80%;
    }

}
