
/* Computer */
@media only screen and (min-width: 700px) {

    body > h2, h3{
        padding-left: 14%;
    }


    /* table */
    .tablelogboek {
        border-collapse: collapse;
        margin: 25px 0;
        margin-left: 5%;
        overflow: auto;
        white-space: nowrap;
        width: 90%;
        height: 20%;
        display: block;
    }

    .tablelogboek thead tr {
        background-color: #36486b;
        color: white;
        text-align: left;
    }

    .tablelogboek th, .tablelogboek td {
        padding: 12px 15px;
    }

    .tablelogboek tbody tr:nth-of-type(even) {
        background-color: #4a6290;
    }

    .tablelogboek tbody tr:last-of-type {
        border-bottom: 2px solid #36486b;
    }

    /*table tr:last-child td:first-child {*/
    /*    border-radius: 25px 0 0 0;*/
    /*}*/

    /*table tr:last-child td:last-child {*/
    /*    border-radius: 0 25px 0 0;*/
    /*}*/



    /* filter bar selector */
    select{
        color: #282D3C;
        background-color: white;
        border: 1px #dadada solid;
        border-radius: 15px;
        padding: 15px 32px;
    }

    select > option *{
        border: 1px solid white;
        border-radius: 10px;
        display: block;
        background-color: black;
    }

    select > option:focus-visible{
        background-color: black;
    }


    /* filter bar form */
    form {
        position: relative;
        padding-left: 14%;
    }

    form > div{
        width: 230px;
        padding: 20px;
        margin: 10px;
        display: inline-block;
        position: relative;
        text-transform: capitalize;
    }

    .checkboxes {
        position: absolute;
    }

    #titel {
        color: black;
        background-color: white;
        text-align: center;
        border-radius: 10px;
    }

    #filter-bar{
        border: solid 2px white;
        border-radius: 25px;
        box-shadow: 0px 0px 10px black;
        background-color: white;
        padding-left: 10%;
        margin-left: 5%;
        margin-right: 5%;
        width: 80%;
    }

    :focus-visible {
        outline: None;
    }

    #opt{
        color: #282D3C;
        background-color: white;
        /*border-radius: 25px;*/
        /*padding: 10px;*/
    }

    .dropdown-menu {
        display: none;
    }

    .toggle, .dropdown-menu {
        width: 100%;
    }

    .is-active .dropdown-menu {
        display: block;
    }

    .dropdown {
        position: relative;
    }

    #logboekpage{
        /*border: 1px white solid;*/
        text-align: center;
        /*white-space: nowrap;*/
        /*overflow: auto;*/
    }

    .pagination a {
        border: 1px white solid;
        color: white;
        padding: 10px;
        text-decoration: none;
        /*text-align: center;*/
        transition: background-color .3s;
        background-color: #394055;
    }

    .pagination a:hover:not(.active) {background-color: #698cce;}


}


/* Phone */
@media only screen and (max-width: 700px) {

    /* table */
    .tablelogboek {
        border-collapse: collapse;
        margin: 25px 0;
        margin-left: 5%;
        overflow: auto;
        white-space: nowrap;
        width: 90%;
        height: 20%;
        display: block;
    }

    .tablelogboek thead tr {
        background-color: #36486b;
        color: white;
        text-align: left;
    }

    .tablelogboek th, .tablelogboek td {
        padding: 12px 15px;
    }

    .tablelogboek tbody tr:nth-of-type(even) {
        background-color: #4a6290;
    }

    .tablelogboek tbody tr:last-of-type {
        border-bottom: 2px solid #36486b;
    }



    /*.daterange{*/
    /*    color: #282D3C;*/
    /*    background-color: white;*/
    /*    border: 1px #dadada solid;*/
    /*    border-radius: 15px;*/
    /*    padding: 15px 32px;*/
    /*}*/

    select{
        color: #282D3C;
        background-color: white;
        border: 1px #dadada solid;
        border-radius: 15px;
        padding: 15px 32px;
    }

    select > option *{
        border: 1px solid white;
        border-radius: 10px;
        display: block;
        background-color: black;
    }

    select > option:focus-visible{
        background-color: black;
    }


    /*form > div{*/
    /*    width: 100px;*/
    /*    padding: 10px;*/
    /*    margin: 10px;*/
    /*}*/


    /* filter bar form */
    form {
        position: relative;
        padding-left: 14%;
    }

    form > div{
        width: 230px;
        padding: 10px;
        margin: 10px;
        display: inline-block;
        position: relative;
        text-transform: capitalize;
    }

    .checkboxes {
        position: absolute;
    }

    #titel {
        color: white;
        /*background-color: white;*/
        text-align: center;
        border-radius: 10px;
    }

    #filter-bar{
        border: solid 2px white;
        border-radius: 25px;
        box-shadow: 0px 0px 10px black;
        background-color: #36486b;
        padding-left: 10%;
        margin-left: 5%;
        margin-right: 5%;
        width: 80%;
    }

    div .btn1{
        margin-left: 20%;
        border: 2px solid white;
    }

    #logboekpage{
        /*border: 1px white solid;*/
        text-align: center;
        /*white-space: nowrap;*/
        /*overflow: auto;*/
    }

    .pagination a {
        border: 1px white solid;
        color: white;
        padding: 10px;
        text-decoration: none;
        /*text-align: center;*/
        transition: background-color .3s;
        background-color: #394055;
    }

    .pagination a:hover:not(.active) {background-color: #698cce;}

}


/* Dropdown menu filter*/
/*.multiselect {*/
/*    width: 400px;*/
/*}*/

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dropdown {
    display: none;
    border-radius: 25px;
    margin-top: 20px;
    background-color: white;
    color: #282D3C;
    position: absolute;
    box-shadow: 0px 0px 10px black;
    border: 10px solid white;
    padding: 5px;
    padding-right: 10px;
    z-index: 1;
}

.dropdown label {
    display: block;
    padding: 5px;
    color: #282D3C;
}

.dropdown label:hover {
    background-color: #282D3C;
    color: white;
    border-radius: 10px;
}

#vehicle_id_filter{
    width: 230px;
    text-transform: uppercase;
}