{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connected Vehicles</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Work+Sans:400,600" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" href="{% static 'python.ico' %}">
</head>
{#<header>#}
{#    <ul>#}
{#        <li><a class="active" href="/home">Home</a></li>#}
{#        {% if user.is_authenticated %}#}
{#            <ul>#}
{#                <li style="float:right"><a href="/logout">Logout</a></li>#}
{#                <li style="float:right"><a href="/profiel">Profiel</a></li>#}
{#                <li style="float:right"><a href="/logboek">logboek</a></li>#}
{#                <li style="float:right"><a href="/data-analytics">Data</a></li>#}
{#            </ul>#}
{#        {% else %}#}
{#            <li style="float:right"><a href="/login">Login</a></li>#}
{#            <li style="float:right"><a href="/register">Register</a></li>#}
{#        {% endif %}#}
{#    </ul>#}
{#</header>#}

<body>

    <div class="container">
        <div class="content">
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul>
                        <li><a class="active" href="/home">Home</a></li>
                        {% if user.is_authenticated %}
                            <ul>
                            <li style="float:right"><a href="/logout">Logout</a></li>
                            <li style="float:right"><a href="/profiel">Profiel</a></li>
                            <li style="float:right"><a href="/logboek">logboek</a></li>
                            <li style="float:right"><a href="/data-analytics">Data</a></li>
                            </ul>
                        {% else %}
                            <li style="float:right"><a href="/login">Login</a></li>
                            <li style="float:right"><a href="/register">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</body>

{% include page %}

</html>