{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connected Vehicles</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" href="{% static 'python.ico' %}">
</head>
<header>
    <ul>
        <li><a class="active" href="/home">Connected-Vehicles</a></li>
        {% if user.is_authenticated %}
            <li style="float:right" >{{ user.username }}</li>
            <li style="float:right"><a href="/logout">Logout</a></li>
            <li style="float:right"><a href="/status">Status</a></li>
        {% else %}
            <li style="float:right"><a href="/login">Login</a></li>
            <li style="float:right"><a href="/register">Register</a></li>
            <li style="float:right">{{ user.username }}</li>
        {% endif %}
    </ul>
</header>

{% include page %}

</html>