{% load static %}
<!DOCTYPE html>
<head>

    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/phone.css' %}">
    <link rel="stylesheet" href="{% static 'style/laptop.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    {% if user.is_authenticated %}

        <br>
        <h1>Welkom {{ user.username }}</h1>

    {% else %}

        <h1>Welkom,</h1>
        <br>
        <br>

{#        <h2>Beste gebruiker om gegevens te kunnen zien moet u eerst <a href="/login">inloggen</a>. </h2>#}
    <div id="wrapper">
{#    <h2>lorem31</h2>#}
        <div id="first" class="smartphone">
            <div class="content">
                <img src="{% static 'status-view-phone.png' %}" alt="" class="fit">
            </div>
        </div>
        <div id="second" class="laptop">
            <div class="content">
                <img src="{% static 'logboek-view.png' %}" alt="" class="fit">
            </div>
        </div>
    </div>

    {% endif %}

</body>

