<script>
    function filter(){
        var href = new URL(window.location.href);
        var vehicle_id = document.getElementById("vehicle_id_filter").value;
        var filtered_column_names = getSelectedCheckboxValues("column_names_filter_box");
        console.log(filtered_column_names)
        if (filtered_column_names.length === 0){
            params = new URLSearchParams({
                'vehicle_id': vehicle_id
            })
        } else {
            params = new URLSearchParams({
                'vehicle_id': vehicle_id,
                'column_names': getSelectedCheckboxValues("column_names_filter_box")
            })
        }
        href.search = params;
        window.location.replace(href.href);
        return false;
    }

    function getSelectedCheckboxValues(name) {
        const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
        let values = [];
        checkboxes.forEach((checkbox) => {
            values.push(checkbox.value);
        });
        return values;
    }

    var expanded;

    function showCheckboxes() {
      var checkboxes = document.getElementById("checkboxes");
      if (!expanded) {
        checkboxes.style.display = "block";
        expanded = true;
      } else {
        checkboxes.style.display = "none";
        expanded = false;
      }
    }
</script>

<body>
    <h1>Logboek</h1>
    <br>
    {% if user.is_authenticated %}
        {% if vehicle_ids != None %}
            <h2> Voertuigen </h2>
            <h3>Kenteken: </h3>
            <form>
                <select id="vehicle_id_filter" >
                    {% for n in vehicle_ids %}
                        <option value="{{ n }}">{{ n }}</option>
                    {% endfor %}
                </select>
                <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes()">
                    <select id="column_names_filter">
                        <option>Select an option</option>
                    </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                        {% for name in column_names_all %}
                            <label for="{{ name.0 }}">
                                <input name="column_names_filter_box" type="checkbox" value="{{ name.0 }}" />{{ name.1 }}</label>
                        {% endfor %}
                    </div>
                  </div>
                <button onclick="return filter()">Filter</button>
            </form>
            {{ error }}
            <br>
            <br>
            <br>
            <br>
            {% if vehicle_statusses == None %}
                <p>Selecteer een kenteken a.u.b.</p>
            {% elif vehicle_statusses|length > 0 %}
                <table>
                    <tr>
                        {% for name in column_names %}
                            <td>{{ name.1 }}</td>
                        {% endfor %}
                    </tr>
                    {% for status in vehicle_statusses %}
                        <tr>
                            {% for value in status %}
                                <th>{{ value }}</th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Er zijn geen logboekgegevens beschikbaar van kenteken {{ vehicle_id }}.</p>
            {% endif %}
         {% else %}
            <p>Er is geen kenteken aan dit account gekoppeld.</p>
        {% endif %}
    {% else %}
        <p>Om de status van uw voertuig(en) te zien moet u eerst <a href="/login">inloggen</a>.</p>
    {% endif %}

</body>
