{% load static %}

<!DOCTYPE html>
<head>

    <title>Logboek</title>
    <link rel="stylesheet" href="{% static 'style/logboek.css' %}">
    <link rel="stylesheet" href="{% static 'style/datepicker.css' %}">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>


</head>

<script>

    function pageLoad() {
        setCheckboxValues();
        setVehicleId();
        setDate();
    }

    function filter(){
        var href = new URL(window.location.href);
        var vehicle_id = document.getElementById("vehicle_id_filter").value;
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        var filtered_column_names = getSelectedCheckboxValues("column_names_filter_box");
        console.log(filtered_column_names)
        if (filtered_column_names.length === 0){
            params = new URLSearchParams({
                'vehicle_id': vehicle_id,
                'startDate': startDate,
                'endDate': endDate,
            })
        } else {
            params = new URLSearchParams({
                'vehicle_id': vehicle_id,
                'column_names': getSelectedCheckboxValues("column_names_filter_box"),
                'startDate': startDate,
                'endDate': endDate,
            })
        }
        href.search = params;
        window.location.replace(href.href);
        return false;
    }

    function getSelectedCheckboxValues(name) {
        const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
        let values = [];
        checkboxes.forEach((checkbox) => {
            values.push(checkbox.value);
        });
        return values;
    }

    function setCheckboxValues() {
        const urlParams = new URLSearchParams(window.location.search);
        const column_names_str = urlParams.get('column_names');
        if (column_names_str > 0){
            const column_names = column_names_str.split(',');
            column_names.forEach((column_name) => {
                const checkbox = document.querySelector(`input[type='checkbox'][value="${column_name}"]`);
                checkbox.checked = true;
            })
        }
    }

    function setVehicleId() {
        const urlParams = new URLSearchParams(window.location.search);
        const vehicle_id = urlParams.get('vehicle_id');
        document.getElementById("vehicle_id_filter").value = vehicle_id;
        console.log(vehicle_id)
    }

    function setDate() {
        const urlParams = new URLSearchParams(window.location.search);
        document.getElementById("endDate").value = endDate;
        document.getElementById("startDate").value = startDate;
        const startDate = urlParams.get('startDate');
        const endDate = urlParams.get('endDate');

        if (startDate == null){
            document.getElementById("startDate").value = datetime.date.today();
            document.getElementById("endDate").value = datetime.date.today();
        }
        else {
            document.getElementById("startDate").value = startDate;
            document.getElementById("endDate").value = endDate;
        }
        console.log(startDate, endDate)
    }

    var expanded;
    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        }

        else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    {# Datepicker #}

    $(function () {
        $("#startDate").datetimepicker({
            format: 'd/m/Y H:i',
        });
    });
    $(function () {
        $("#endDate").datetimepicker({
            format: 'd/m/Y H:i',
        });
    });

</script>

<body onload="pageLoad()">
    <h1>Logboek</h1>
    <br>
    {% if user.is_authenticated %}
        {% if vehicle_ids != None %}
            <h2> Voertuigen </h2>
            <h3>Kenteken: </h3>
            <form>
                <div class="custom-select">
                    <select id="vehicle_id_filter" >
                        <div class="dropdown">
                            {% for n in vehicle_ids %}
                                <option value="{{ n }}">{{ n }}</option>
                            {% endfor %}
                        </div>
                    </select>
                </div>
                <div class="multiselect">
                    <div class="selectBox" onclick="showCheckboxes()">
                        <select id="column_names_filter">
                            <option>Select an option</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div class="dropdown" id="checkboxes">
                        {% for name in column_names_all %}
                            <label>
                                <input class="inputbox" name="column_names_filter_box" type="checkbox" value="{{ name.0 }}" />{{ name.1 }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <input id="startDate" type="text" class="daterange">
                </div>
                <div>
                    <input id="endDate" type="text" class="daterange">
                </div>
                <div>
                    <button class="btn2" onclick="return filter()">Filter</button>
                </div>
            </form>
            {{ error }}
            <br>
            <br>
            <br>
            <br>
            {% if vehicle_statusses == None %}
                <p>Selecteer een kenteken a.u.b.</p>
            {% elif vehicle_statusses|length > 0 %}
                <table class="tablelogboek">
                    <tr class="trlogboek">
                        {% for name in column_names %}
                            <td class="tdlogboek">{{ name.1 }}</td>
                        {% endfor %}
                    </tr>
                    {% for status in vehicle_statusses %}
                        <tr>
                            {% for value in status %}
                                <th class="thlogboek">{{ value }}</th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Er zijn geen logboekgegevens beschikbaar van kenteken {{ vehicle_id }}.</p>
            {% endif %}
         {% else %}
            <p>Er is geen kenteken aan dit account gekoppeld.</p>
        {% endif %}
    {% else %}
        <p>Om de status van uw voertuig(en) te zien moet u eerst <a href="/login">inloggen</a>.</p>
    {% endif %}

</body>
