<script>
    function filter(){
        var href = new URL(window.location.href)
        var vehicle_id = document.getElementById("vehicle_id_filter").value;
        href.searchParams.set('vehicle_id',vehicle_id)
        window.location.replace(href.href)
        return false
    }

    var expanded = false;

    function showCheckboxes() {
      var checkboxes = document.getElementById("checkboxes");
      if (!expanded) {
        checkboxes.style.display = "block";
        expanded = true;
      } else {
        checkboxes.style.display = "none";
        expanded = false;
      }
    }
</script>

<body>
    <h1>Logboek</h1>
    <br>
    {% if user.is_authenticated %}
        {% if vehicle_ids != None %}
            <h2> Voertuigen </h2>
            <h3>Kenteken: </h3>
            <form>
                <select id="vehicle_id_filter" >
                    {% for n in vehicle_ids %}
                        <option value="{{ n }}">{{ n }}</option>
                    {% endfor %}
                </select>
                <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes()">
                    <select>
                        <option>Select an option</option>
                    </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                        {% for name in column_names %}
                            <label for="{{ name }}">
                                <input type="checkbox" id="{{ name }}" />{{ name }}</label>
                        {% endfor %}
                    </div>
                  </div>
                <button onclick="return filter()">Filter</button>
            </form>
            <br>
            <br>
            <br>
            <br>
            {% if vehicle_statusses == None %}
                <p>Selecteer een kenteken a.u.b.</p>
            {% else if vehicle_statusses|length > 0 %}
                <table>
                    <tr>
                        {% for name in column_names %}
                            <th>{{ name }}</th>
                        {% endfor %}
                    </tr>
                        {% for status in vehicle_statusses %}
                            <tr>
                                <th>{{ status.vehicleid }}</th>
                                <th>{{ status.laden }}</th>
                                <th>{{ status.cell_spanning }}</th>
                                <th>{{ status.accu_spanning }}%</th>
                                <th>{{ status.cell_perc }}%</th>
                                <th>{{ status.motor_temp }}%</th>
                                <th>{{ status.time }}</th>
                            </tr>
                        {% endfor %}
                </table>
            {% else %}
                <p>Er zijn geen logboekgegevens beschikbaar van kenteken {{ vehicle_id }}.</p>
            {% endif %}
         {% else %}
            <p>Er is geen kenteken aan dit account gekoppeld.</p>
        {% endif %}
    {% else %}
        <p>Om de status van uw voertuig(en) te zien moet u eerst <a href="/login">inloggen</a>.</p>
    {% endif %}

</body>
