{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'style/profiel.css' %}">
</head>


<body>
    <h1> Profiel </h1>
    <br>
    {% if user.is_authenticated %}
        <table>
            <tr>
                <th>Naam: </th>
                <th>{{ user.username}}</th>
            </tr>
            <tr>
                <th>E-mail: </th>
                <th>{{ user.email }}</th>
            </tr>
                <tr>
                    <th>Kenteken: </th>
                    <th>{{ user.profile.vehicle_ids }}</th>
                </tr>
            </table>
        {% else %}
            <p>Om uw gegevems te zien moet u eerst <a href="/login">inloggen</a>.</p>
    {% endif %}
</body>
