<body>
    <h1>Logboek</h1>
    <br>
    {% if user.is_authenticated %}
        <h2> Profiel </h2>
        <table>
            <tr>
                <th>Naam: </th>
                <th>{{ user.username}}</th>
            </tr>
            <tr>
                <th>E-mail: </th>
                <th>{{ user.email }}</th>
            </tr>
            {% if vehicleid != None %}
                {% for status in vehicle_statusses %}
                    <tr>
                        <th>Kenteken: </th>
                        <th>{{ user.vehicleid }}</th>
                    </tr>
                {% endfor %}
            {% endif %}
            </table>
        {% else %}
            <p>Om uw gegevems te zien moet u eerst <a href="/login">inloggen</a>.</p>
    {% endif %}
</body>
