<body>
    <h1>Voertuigen Overzicht</h1>
    <br>
    {% if vehicleid != None %}
        {% if vehicle_statusses|length > 0 %}
                <h2> Voertuigen </h2>
            {% for status in vehicle_statusses %}
                    <table>
                    <tr>
                        <td>Naam voertuig: }</td>
                        <td>Kenteken: </td>
                        <td>Laden: </td>
                        <td>Cell spanning: </td>
                        <td>Accu spanning: </td>
                        <td>Cell percentage: </td>
                        <td>Motor temparatuur: </td>
                        <td>Laatst Online: </td>
                    </tr>
                    <tr>
                        <td>{{ status.vehicle_name }}</td>
                        <td>{{ status.vehicleid }}</td>
                        <td>{{ status.laden }}</td>
                        <td>{{ status.cell_spanning }}</td>
                        <td>{{ status.accu_spanning }}%</td>
                        <td>{{ status.cell_perc }}%</td>
                        <td>{{ status.motor_temp }}%</td>
                        <td>{{ status.time }}</td>
                    </tr>

                    </table>







{#                <table>#}
{#                    <p>Naam voertuig: {{ status.vehicle_name }}</p>#}
{#                    <p>Kenteken: {{ status.vehicleid }}</p>#}
{#                    <p>Laden: {{ status.laden }}</p>#}
{#                    <p>Cell spanning: {{ status.cell_spanning }}</p>#}
{#                    <p>Accu spanning: {{ status.accu_spanning }}%</p>#}
{#                    <p>Cell percentage: {{ status.cell_perc }}%</p>#}
{#                    <p>Motor temparatuur: {{ status.motor_temp }}%</p>#}
{#                    <p>Laatst Online: {{ status.time }}</p>#}
{#                    <br>#}
{#                </table>#}
            {% endfor %}
        {% else %}
            <p>Er zijn geen gegevens bekend bij dit kenteken ( {{ vehicleid }} ) </p>
        {% endif %}
     {% else %}
        <p>Er is geen kenteken aan dit account gekoppeld.</p>
    {% endif %}
</body>
