<body>
    <h1>Voertuigen Overzicht</h1>
    <br>
    {% if vehicleid != None %}
        {% if vehicle_statusses|length > 0 %}
                <h2> Voertuigen </h2>
            {% for status in vehicle_statusses %}
                    <table>
                    <tr>
                        <th>Naam voertuig: }</th>
                        <th>Kenteken: </th>
                        <th>Laden: </th>
                        <th>Cell spanning: </th>
                        <th>Accu spanning: </th>
                        <th>Cell percentage: </th>
                        <th>Motor temparatuur: </th>
                        <th>Laatst Online: </th>
                    </tr>
                    <tr>
                        <th>{{ status.vehicle_name }}</th>
                        <th>{{ status.vehicleid }}</th>
                        <th>{{ status.laden }}</th>
                        <th>{{ status.cell_spanning }}</th>
                        <th>{{ status.accu_spanning }}%</th>
                        <th>{{ status.cell_perc }}%</th>
                        <th>{{ status.motor_temp }}%</th>
                        <th>{{ status.time }}</th>
                    </tr>

                    </table>







{#                <table>#}
{#                    <p>Naam voertuig: {{ status.vehicle_name }}</p>#}
{#                    <p>Kenteken: {{ status.vehicleid }}</p>#}
{#                    <p>Laden: {{ status.laden }}</p>#}
{#                    <p>Cell spanning: {{ status.cell_spanning }}</p>#}
{#                    <p>Accu spanning: {{ status.accu_spanning }}%</p>#}
{#                    <p>Cell percentage: {{ status.cell_perc }}%</p>#}
{#                    <p>Motor temparatuur: {{ status.motor_temp }}%</p>#}
{#                    <p>Laatst Online: {{ status.time }}</p>#}
{#                    <br>#}
{#                </table>#}
            {% endfor %}
        {% else %}
            <p>Er zijn geen gegevens bekend bij dit kenteken ( {{ vehicleid }} ) </p>
        {% endif %}
     {% else %}
        <p>Er is geen kenteken aan dit account gekoppeld.</p>
    {% endif %}
</body>
